:root {
    --bc-primary: #3f4044;
}

body {
    background-color: var(--bc-primary);
}

.intro {
    text-align: center;
    padding: 20px;
    background-color: var(--bc-primary);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #646cff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.5s ease;

    &:hover {
        background-color: #4a50ff;
    }
}

/* ======================= */
/*       LOGIN MODAL       */
/* ======================= */

.fondoLogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.LoginContent {
    background-color: #fff;
    position: fixed;
    margin: auto;
    top: 30%;
    left: 39%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 300px;
}

.LoginContent h2 {
    text-align: center;
    margin: 0.5rem auto 2rem auto;
    font-size: 2rem;
    font-weight: 700;
}

.LoginContent input {
    display: block;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.LoginContent label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* ======================= */
/*    Formulario modal     */
/* ======================= */

.field {
    position: relative;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form button {
    background-color: #646cff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.5s ease;

    &:hover {
        background-color: #4a50ff;
    }
}

.field input {
    width: 90%;
    padding: 1.2rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    border: #585a64 1px solid;
    background-color: #ffffff96;
}

.field label {
    position: absolute;
    left: 1.5rem;
    top: 28%;
    transform: translateY(-2%);
    color: #666;
    font-size: 1.3rem;
    pointer-events: none;
    transition: 0.2s ease;
    padding: 0 5px;
    font-weight: 500;

}

/* focus o input con texto */
.field input:focus+label,
.field input:not(:placeholder-shown)+label {
    top: 0.2rem;
    left: 1rem;
    font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}